{% extends "base.html" %}

{% block content %}
<a href="{{ url_for('index') }}" class="home-link">Home</a>
<form method="POST" action="/signout" class="nav-item signout">
  <button type="submit">Sign-Out</button>
</form>
<div class="container">
    <h1>Student View - Take Test</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div class="test-cards-container">
        {% for test in tests %}
            <div class="test-card">
                <h3>{{ test.name }}</h3>
                <form action="{{ url_for('submit_test', testid=test.testid) }}" method="POST">
                  <p><strong>Question 1:</strong> {{ test.question_1 }}</p>
                  <input type="text" name="response_1" placeholder="Your answer" required>
            
                  <p><strong>Question 2:</strong> {{ test.question_2 }}</p>
                  <input type="text" name="response_2" placeholder="Your answer" required>
            
                  <p><strong>Question 3:</strong> {{ test.question_3 }}</p>
                  <input type="text" name="response_3" placeholder="Your answer" required>
            
                  <p><strong>Question 4:</strong> {{ test.question_4 }}</p>
                  <input type="text" name="response_4" placeholder="Your answer" required>
            
                  <p><strong>Question 5:</strong> {{ test.question_5 }}</p>
                  <input type="text" name="response_5" placeholder="Your answer" required>
            
                  <div class="card-buttons">
                      <button type="submit" class="edit-btn">Submit Test</button>
                  </div>
              </form>
            </div>
        {% endfor %}
    </div>
    {% if grades %}
      <div class="grade-card">
        {% for grade in grades %}
            <h4>Test ID: {{ grade.testid }}- Grade: {{ grade.grade }}</h4>
        {% endfor %}
      </div>
    {% endif %}
</div>
{% endblock %}